/* スマホ用 */

*,*::before,*::after{
  box-sizing: border-box;
}

html body{
  overflow-x: hidden;
}

html.none,body.none{
  overflow-y: hidden;
}

a{
  text-decoration: none;
}

header a{
  color:#333;
}

header{
  height: 400px;
  padding: 0;
}

.background{
  position: relative;
  top: 0%;
  height: 400px;
  width: 100%;
} 

.video-container{
  width: 100%;
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
}

.video-container video{
  width: 100%;
  height: 100%;
}

h1#title{
  position: absolute;
  left: 5%;
  top: 170px;
  font-size: 25px;
  line-height: 1.2;
  font-family: serif;
  font-weight: bold;
  animation: zoomIn 1.5s;
  height: 200px;
  padding: 10px;
  color: #fff;
  opacity: 1;
  text-shadow: 1px 1px 2px rgb(99, 95, 95);
  white-space: nowrap;
} 




@keyframes zoomIn{
  0%{
    font-size: 2px;
    background-color: none;
    opacity: 0;
  }

  15%{
    opacity: 0;
  }

  50%{
    font-size: 30px;
  }

  100%{
    opacity: 1;
    font-size: 25px;
    background: none;
  }
}


.mask{
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 65, 63, 0.9);
  z-index: 4;
  transition: .1s;
}

#mask.active{
  visibility: visible;
  transition: .3s;
}

#mask>img{
  display: none;
  visibility: hidden;
}



.topBar{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 5;
  } 


  h2#miniTitle{
  display: block;
  width: 40%;
  font-size: 25px;
  font-weight: bold;
  color: rgb(100, 215, 236);
  line-height: 1.5px;
  position: absolute;
  left: 20%;
  top: 40px;
  padding: 0px 5px;
  white-space: nowrap;
  font-family: serif;
}


#nav{
  display: none;
}


#nav ul{
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 5px;
}

#nav li{
  width: 25%;
  text-align: center;
  margin: 0;
}

#nav li a{
  font-family: serif;
  font-size: 14px;
  padding: 0px 2px;
  user-select: none;
}


.menuButton{
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  z-index: 6;
  transition: .3s;
  padding: 2px 2px;
}


.menuButton div{
  display: block;
  height: 2px;
  width: 50%;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 50%;
  left: 25%;
}

.menuButton div:nth-of-type(1){
  transform: translateY(-10px);
}

.menuButton div:nth-of-type(2){
  transform: translateY(2px);
}

.menuButton.active div:nth-of-type(1){
  transform: rotate(45deg);
}
.menuButton.active div:nth-of-type(2){
  transform: rotate(-45deg);
}

.menuButton p{
  position: relative;
  top: 50px;
  left: 19%;
  color: rgb(0, 0, 0);
  user-select: none;
  font-size: 15px;
}

#slideNav{
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 45%;
  background-color: #fff;
  z-index: 4;
  transform: translateX(-1000px);
  transition: .3s;
  visibility: hidden;
}

#slideNav.active{
  transform: none;
  visibility: visible;
}

#slideNav ul{
  padding: 100px 10px 0px;
}

#slideNav ul li{
  margin: 20px 0px;
  padding: 10px 5px;
}

#slideNav ul li:last-of-type{
  margin-top: 60px;
}

#slideNav ul li:last-of-type a{
  font-size: 14px;
}

#slideNav ul a{
  font-size: 20px;
  color: #000;
  font-family: serif;
}


.container{
  display: block;
  width: 98%;
  min-height: 200vh;
  max-height: 1000vh;
  margin: 0 auto;
  padding: 5px;
}

.block{
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

.block:not(:first-of-type){
  margin: 70px auto 40px;
}

.block h2{
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  margin-top: -100px;
  padding-top: 100px;
  white-space: nowrap;
  color: rgb(5, 5, 5);
  text-shadow: 1px 1px 40px rgb(255, 0, 119);
}


.block h3.eng{
  position: absolute;
  font-size: 16px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 153, 255);
} 

  h3.eng:before{
  content: "-";
}


.block:nth-of-type(odd) h2{
  left: 35%;
  top: -5%;
}

.block:nth-of-type(odd) h3{
  left: 35%;
  top: 0%;
  padding: 2px;
}

.block:nth-of-type(even) h2{
  left: 35%;
  top: -5%;
}

.block:nth-of-type(even) h3{
  left: 35%;
  top: 0%;
  padding: 2px;
}

.js-target{
  display: flex;
}


.block:nth-of-type(even) .js-target{
  flex-direction: row-reverse; 
} 


.block .box{
  display: block;
  width: 90%;
  min-height: 100px;
  padding: 10px 5px;
  position: absolute;
  transition: 3s;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.introduction .box{
  bottom: 10px;
}

.hobby .box{
  bottom: 60px;
}

.refresh .box{
  bottom: 10px;
}

.future .box{
  bottom: 110px;
}



.block:nth-of-type(odd) .box{
  right: 2px;
  transform: translateX(-40px);
}

.block:nth-of-type(even) .box{
  left: 2px;
  transform: translateX(40px);
}

.block:nth-of-type(odd) .box.show,
.block:nth-of-type(even) .box.show{
  transform: none;
  visibility: visible;
  opacity: 1;
}

.box ul{
  padding: 10px;
}

.box li{
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: serif;
  line-height: 1.5;
}

.box li::before{
  content: "・";
}

.box li span{
  font-size: 18px;
  font-weight: bold;
  color: rgb(240, 36, 36);
}

.box p{
  font-size:16px;
  font-family: serif;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
}

.box p span{
  color: rgb(240, 36, 36);
  font-weight: bold;
}

.block .photo{
  width: 75%;
  height: 300px;
  transition: 2s;
  opacity: .1;
  filter: saturate(.1);
  position: absolute;
  top: 30px;
}



.block .photo.show{
  opacity: 1;
  filter: saturate(.8);
} 


hr{
  background-color: rgb(123, 202, 255);
  height:2px;
}  
 





/* タブレット用レスポンシブ */

@media screen and (min-width:600px){
  
  .container{
    padding: 50px 5px 50px;
  }

  #nav{
    width: 75%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 20%;
    display: block;
  }
  

  .block:nth-of-type(odd)  h2{
    font-size: 40px;
    left: 40%;
    bottom: 95px;
  }

  .block:nth-of-type(odd) h3.eng{
    font-size: 25px;
    left: 40%;
    bottom: 40px;
    padding: 5px 0;
  }

  
  .block:nth-of-type(even)  h2{
    font-size: 40px;
    left: 40%;
    bottom: 95px;
  }

  .block:nth-of-type(even) h3.eng{
    font-size: 25px;
    left: 40%;
    bottom: 40px;
    padding: 5px 0;
  }

  
  


  .introduction .box{
    bottom: 80px;
  }
  
  .hobby .box{
    bottom: 200px;
  }
  
  .refresh .box{
    bottom: 200px;
  }
  
  .future .box{
    bottom: 200px;
  }
  
  
  
  .block .photo{
    top: 100px;
  }
  


}












/* PC用レスポンシブ */
@media screen and (min-width:1000px){

  
  header{
    height: 500px;
  }
  
  .background{
    height: 600px;
  } 
  
  .video-container{
    height: 600px;
  }

  .video-container video{
    height: 600px;
    width: 100%;
  }

  h1#title{
    top: 250px;
    left: 2%;
    font-size: 50px;
    animation: zoomInPC 1.5s;
    height: 300px;
    padding: 50px 20px;
    color: rgb(252, 153, 153);
    background-color: rgba(252, 249, 249, 0.1);
  } 
  
  
  
  
  @keyframes zoomInPC{
    0%{
      font-size: 2px;
      background-color: none;
      opacity: 0;
    }
  
    15%{
      opacity: 0;
    }
  
    50%{
      font-size: 70px;
    }
  
    100%{
      opacity: 1;
      font-size: 50px;
      background: none;
    }
  }
  
  
  
  
  h2#miniTitle{
    width: 30%;
    font-size: 30px;
    left: 7%;
    top: 30px;
    padding: 5px 5px;
  }
  
  
  #nav{
    width: 65%;
    position: absolute;
    top: 0;
    left: 35%;
  }
  
  
  #nav li a{
    font-size: 20px;
  }
  
  
  .menuButton{
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  
  
  .menuButton div{
    display: block;
    height: 2px;
    width: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 45%;
    left: 20%;
  }
  
  .menuButton div:nth-of-type(1){
    transform: translateY(-10px);
  }
  
  .menuButton div:nth-of-type(2){
    transform: translateY(0px);
  }
  
  
  .menuButton p{
    top: 50px;
    left: 17%;
    font-size: 15px;
  }
  
  #slideNav{
    top: 80px;
    width: 30%;
  }
  
  
  #slideNav ul{
    padding: 70px 10px 0px;
  }
  
  
  #slideNav ul a{
    font-size: 35px;
  }
  
  
  .container{
    padding: 150px 5px 0px;
  }

  .block{
    min-height: 150vh;
    padding: 20px 0px 100px;
    margin: 40px auto;
  }

  
  
  
  .block h2{
    font-size: 50px;
    margin-top: -100px;
    padding-top: 100px;
  }
  
  
  .block h3.eng{
    font-size: 35px;
    padding: 2px;
  } 
  
  
  .block:nth-of-type(odd) h2{
    left: 40%;
    top: -5%;
  }
  
  .block:nth-of-type(odd) h3{
    left: 45%;
    top: 0%;
  }
  
  .block:nth-of-type(even) h2{
    left: 40%;
    top: 0%;
  }
  
  .block:nth-of-type(even) h3{
    left: 45%;
    top: 5%;
  }
  
  
  .block:nth-of-type(odd) .box{
    width: 60%;
    min-height: 550px;
    transform: translate(-150px,-150px);
  }
  
  .block:nth-of-type(even) .box{
    width: 60%;
    min-height: 400px;
    padding: 50px auto;
    transform: translate(150px,-150px);
  }
  
  .introduction .box{
    bottom: 50px;
  }
  
  .hobby .box{
    bottom: 100px;
  }
  
  .refresh .box{
    bottom: 50px;
  }
  
  .future .box{
    bottom: 100px;
  }
  
  

  .box li{
    font-size: 25px;
  }
  

  
  .box li span{
    font-size: 30px;
  }
  
  .box p{
    font-size:25px;
  }
  
  .box p span{
    font-size: 30px;
  }
  
  .block .photo{
    width: 60%;
    height: 500px;
  }
  
  
  .block .photo.show{
    transform: none;
    visibility: visible;
  } 
  
  
  hr{
    background-color: rgb(123, 202, 255);
    height:2px;
  }  
}











